$colorBlue: blue;
$light-green-1:#b4b969;
$green-1:#a6aa56;
$light-blue-1:#96b7a2;
$blue-1:#829b86;
$white-1:#dfdb9c;

*{
    margin: 0px;
    padding: 0px;

}

header{
    margin-bottom: 30px;
}
th{
}
#div-title-1{
    background-color: $green-1;
    padding: 20px;
    h1{
        color: $white-1;
        text-align: center;
    }
}
#nav-menu{
    background-color: $light-green-1;
    border-top: 4px dashed $white-1;
    border-bottom: 4px dashed $white-1;
    padding: 5px;
    a{
        margin: 5px;
        color: $white-1;
        text-decoration: none;
        font-size: 20px;
        :hover{
            text-decoration: underline;
            cursor:pointer;
        }
        :active{
            
        }
    }
}
#img-title-1{
    width: 50px;
    margin-left: 50%;
    margin-right: 50%;
}
#table-map{
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}
#div-table-map{
    margin: 10px;
    height: 600px;
    width: 600px;
    border: 2px solid $blue-1;
    display: inline-block;
}
#div-map-settings{
    margin: 10px;
    margin-left: 20px;
    h2{
        display: inline-block;
    }
}
#img-map-settings{
    display: inline-block;
}
#div-item-info{
    width: 350px;
    margin: 10px;
    display: inline-flex;
    border: 2px solid $blue-1;
    height: 600px;

}